D·ªØ li·ªáu ƒë∆∞·ª£c truy xu·∫•t t·ª´ Vnstock - g√≥i ph·∫ßn m·ªÅm Python ph√¢n t√≠ch th·ªã tr∆∞·ªùng ch·ª©ng kho√°n Vi·ªát Nam. 
(thinh-vu @ Github, Copyright (c) 2022-2024).

M√£ ngu·ªìn ƒë∆∞·ª£c k·∫ø th·ª´a t·ª´ Vnstock - g√≥i ph·∫ßn m·ªÅm Python ph√¢n t√≠ch th·ªã tr∆∞·ªùng ch·ª©ng kho√°n Vi·ªát Nam. 
(thinh-vu @ Github, Copyright (c) 2022-2024).

D·ªØ li·ªáu ƒë∆∞·ª£c truy xu·∫•t t·ª´ Vnstock - g√≥i ph·∫ßn m·ªÅm Python ph√¢n t√≠ch th·ªã tr∆∞·ªùng ch·ª©ng kho√°n Vi·ªát Nam. 
(thinh-vu @ Github, Copyright (c) 2022-2024).

M√£ ngu·ªìn ƒë∆∞·ª£c k·∫ø th·ª´a t·ª´ Vnstock - g√≥i ph·∫ßn m·ªÅm Python ph√¢n t√≠ch th·ªã tr∆∞·ªùng ch·ª©ng kho√°n Vi·ªát Nam. 
(thinh-vu @ Github, Copyright (c) 2022-2024).

Importing libraries

In [1]:
import pandas as pd
from vnstock3 import Vnstock

Phi√™n b·∫£n Vnstock 3.2.1 ƒë√£ c√≥ m·∫∑t, vui l√≤ng c·∫≠p nh·∫≠t v·ªõi c√¢u l·ªánh : `pip install vnstock3 --upgrade`.
L·ªãch s·ª≠ phi√™n b·∫£n: https://vnstocks.com/docs/tai-lieu/lich-su-phien-ban
Phi√™n b·∫£n hi·ªán t·∫°i 0.3.0.9

Fetching all tickers from the market

In [2]:
import pandas as pd
df = pd.read_csv('company.csv')
tickers = df.ticker.unique().tolist()
tickers
len(tickers)

1598

Fetching company data

In [8]:
# Exploring VCB company data
company = Vnstock().stock(symbol='VCB', source='TCBS').company
company.overview()

2025-03-24 22:03:30 - vnstock.common.data.data_explorer - INFO - TCBS kh√¥ng cung c·∫•p th√¥ng tin danh s√°ch. D·ªØ li·ªáu t·ª± ƒë·ªông tr·∫£ v·ªÅ t·ª´ VCI.

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,VCB,HOSE,Ng√¢n h√†ng,NH,25183,0.227,8355.7,5589.1,2008,24306,3.0,-0.007,0.042,-0.007,Vietcombank,https://vietcombank.com.vn,289,8355

In [81]:
# Defining a function to fetch data from all companies
def fetch_companies(tickers):
    # Fetching first 100 records
    # Initializing a DataFrame with first company in the tickers list
    df = Vnstock().stock(symbol='A32', source='TCBS').company.overview()

    for i in range(1,500):
        company = Vnstock().stock(symbol=tickers[i], source='TCBS').company.overview()

        # Appending new company data
        df = pd.concat([df,company],ignore_index=True)
        
    """Comment lines above after finished fetching first 100 records"""
    
    """Uncomment lines below to fetch data after finished fetching first 100 records"""

    # # Initializing a DataFrame with first company in the tickers list
    # df = Vnstock().stock(symbol='A32', source='TCBS').company.overview()
    # 
    # # Empty a DataFrame
    # df.drop(df.index, inplace=True)
    # 
    # # Due to the limitation of API call (100 requests), we have to modify for loops to fetch all the data
    # # Increase the range 100 each loop (Total records have to fetch: 1598 records)
    # for i in range(100,200):
    #     company = Vnstock().stock(symbol=tickers[i], source='TCBS').company.overview()
    #     df = pd.concat([df,company],ignore_index=True)
    # 
    # # Exporting data to CSV file
    # # Modifying the file name when finished fetching 100 records 
    df.to_csv('raw_company_demo.csv',index=False)

In [ ]:
# Exporting data to CSV file
# Modifying the file name when finished fetching 100 records 
fetch_companies(tickers)

In [61]:
# Concatenating data
raw_company100 = pd.read_csv('raw_company100.csv')
raw_company190 = pd.read_csv('raw_company190.csv')
raw_company280 = pd.read_csv('raw_company280.csv')
raw_company370 = pd.read_csv('raw_company370.csv')
raw_company460 = pd.read_csv('raw_company460.csv')
raw_company550 = pd.read_csv('raw_company550.csv')
raw_company640 = pd.read_csv('raw_company640.csv')
raw_company730 = pd.read_csv('raw_company730.csv')
raw_company820 = pd.read_csv('raw_company820.csv')
raw_company910 = pd.read_csv('raw_company910.csv')
raw_company1000 = pd.read_csv('raw_company1000.csv')
raw_company1090 = pd.read_csv('raw_company1090.csv')
raw_company1180 = pd.read_csv('raw_company1180.csv')
raw_company1000 = pd.read_csv('raw_company1000.csv')
raw_company1270 = pd.read_csv('raw_company1270.csv')
raw_company1360 = pd.read_csv('raw_company1360.csv')
raw_company1450 = pd.read_csv('raw_company1450.csv')
raw_company1540 = pd.read_csv('raw_company1540.csv')
raw_company1598 = pd.read_csv('raw_company1598.csv')

company_df = pd.concat([raw_company100, raw_company190, raw_company280, raw_company370, raw_company460, raw_company550, raw_company640, raw_company730, raw_company820, raw_company910, raw_company1000, raw_company1090, raw_company1180, raw_company1270, raw_company1360, raw_company1450, raw_company1540, raw_company1598
],ignore_index=True)

In [62]:
# Adding key to company DataFrame
company_df.insert(0,'ticker',tickers)

In [79]:
# Sampling data
company_df

,ticker,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,A32,UPCOM,H√†ng c√° nh√¢n & Gia d·ª•ng,CT,505,0.000,6.8,6.8,2008.0,1153,NaN,0.009,-0.027,0.137,C√¥ng ty 32,http://32jsc.com,227,3765
1,AAA,HOSE,H√≥a ch·∫•t,CT,27697,0.021,382.3,382.3,2007.0,2928,2.6,-0.004,-0.039,-0.083,An Ph√°t Bioplastics,https://anphatbioplastics.com,150,1353
2,AAM,HOSE,Th·ª±c ph·∫©m v√† ƒë·ªì u·ªëng,CT,1259,0.009,10.5,12.3,2002.0,146,NaN,-0.034,0.043,-0.405,Th·ªßy s·∫£n Mekong,http://www.mekongfish.vn,217,3573
3,AAS,UPCOM,D·ªãch v·ª• t√†i ch√≠nh,CK,6012,0.011,230.0,230.0,2006.0,92,2.5,-0.028,0.008,-0.228,Ch·ª©ng kho√°n SmartInvest,https://www.aas.com.vn,300,8777
4,AAT,HOSE,H√†ng c√° nh√¢n & Gia d·ª•ng,CT,4858,0.008,70.8,70.8,1995.0,634,2.3,-0.007,-0.127,-0.458,T·∫≠p ƒëo√†n Ti√™n S∆°n Thanh H√≥a,http://tiensonaus.com,226,3763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,XPH,UPCOM,H√†ng c√° nh√¢n & Gia d·ª•ng,CT,0,0.002,13.0,13.0,1960.0,69,NaN,-0.006,-0.138,0.032,X√† ph√≤ng H√† N·ªôi,https://haso.vn,228,3767
1594,YBC,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,CT,250,0.000,11.8,11.8,2003.0,331,NaN,-0.006,-0.015,-0.010,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,http://ybcmjsc.com.vn,180,2353
1595,YBM,HOSE,T√†i nguy√™n C∆° b·∫£n,CT,813,0.003,14.3,14.3,2015.0,223,NaN,0.039,0.050,0.338,Kho√°ng s·∫£n CN Y√™n B√°i,https://ybm.com.vn,166,1775
1596,YEG,HOSE,Truy·ªÅn th√¥ng,CT,310,0.031,137.0,137.0,2006.0,189,2.3,0.017,0.018,-0.130,T·∫≠p ƒëo√†n Yeah1,https://yeah1group.com,254,5553
1597,YTC,UPCOM,Y t·∫ø,CT,213,0.005,9.5,9.5,2001.0,102,NaN,0.033,0.297,0.064,XNK Y t·∫ø TP.HCM,https://yteco.vn,236,4537

In [80]:
# Removing industry_id and industry_id_v2 columns
company_df = company_df.iloc[:,:-2]

In [81]:
# Sampling data after removed 2 columns
company_df

,ticker,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website
0,A32,UPCOM,H√†ng c√° nh√¢n & Gia d·ª•ng,CT,505,0.000,6.8,6.8,2008.0,1153,NaN,0.009,-0.027,0.137,C√¥ng ty 32,http://32jsc.com
1,AAA,HOSE,H√≥a ch·∫•t,CT,27697,0.021,382.3,382.3,2007.0,2928,2.6,-0.004,-0.039,-0.083,An Ph√°t Bioplastics,https://anphatbioplastics.com
2,AAM,HOSE,Th·ª±c ph·∫©m v√† ƒë·ªì u·ªëng,CT,1259,0.009,10.5,12.3,2002.0,146,NaN,-0.034,0.043,-0.405,Th·ªßy s·∫£n Mekong,http://www.mekongfish.vn
3,AAS,UPCOM,D·ªãch v·ª• t√†i ch√≠nh,CK,6012,0.011,230.0,230.0,2006.0,92,2.5,-0.028,0.008,-0.228,Ch·ª©ng kho√°n SmartInvest,https://www.aas.com.vn
4,AAT,HOSE,H√†ng c√° nh√¢n & Gia d·ª•ng,CT,4858,0.008,70.8,70.8,1995.0,634,2.3,-0.007,-0.127,-0.458,T·∫≠p ƒëo√†n Ti√™n S∆°n Thanh H√≥a,http://tiensonaus.com
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1593,XPH,UPCOM,H√†ng c√° nh√¢n & Gia d·ª•ng,CT,0,0.002,13.0,13.0,1960.0,69,NaN,-0.006,-0.138,0.032,X√† ph√≤ng H√† N·ªôi,https://haso.vn
1594,YBC,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,CT,250,0.000,11.8,11.8,2003.0,331,NaN,-0.006,-0.015,-0.010,Xi mƒÉng v√† Kho√°ng s·∫£n Y√™n B√°i,http://ybcmjsc.com.vn
1595,YBM,HOSE,T√†i nguy√™n C∆° b·∫£n,CT,813,0.003,14.3,14.3,2015.0,223,NaN,0.039,0.050,0.338,Kho√°ng s·∫£n CN Y√™n B√°i,https://ybm.com.vn
1596,YEG,HOSE,Truy·ªÅn th√¥ng,CT,310,0.031,137.0,137.0,2006.0,189,2.3,0.017,0.018,-0.130,T·∫≠p ƒëo√†n Yeah1,https://yeah1group.com
1597,YTC,UPCOM,Y t·∫ø,CT,213,0.005,9.5,9.5,2001.0,102,NaN,0.033,0.297,0.064,XNK Y t·∫ø TP.HCM,https://yteco.vn

In [185]:
# Checking if NA value exists
company_df.isna().sum()

ticker                 0
exchange               0
industry               0
company_type           0
no_shareholders        0
foreign_percent        0
outstanding_share      0
issue_share            0
established_year       1
no_employees           0
stock_rating         728
delta_in_week         30
delta_in_month        31
delta_in_year         36
short_name             0
website                2
dtype: int64

In [186]:
# Locating records with NA website
company_df[company_df.website.isna()]

,ticker,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website
1044,PX1,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,CT,0,0.0,20.0,20.0,1966.0,317,NaN,-0.006,-0.015,-0.131,Xi mƒÉng S√¥ng Lam 2,NaN
1059,QNT,UPCOM,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,CT,119,0.0,3.2,3.2,2017.0,2,NaN,0.119,0.425,-0.231,T∆∞ v·∫•n v√† ƒê·∫ßu t∆∞ Ph√°t tri·ªÉn Qu·∫£ng Nam,NaN

In [188]:
# Replacing NA values with new values
company_df.iloc[1059,-1] = 'https://qnt.vn'
company_df.iloc[1044,-1] = 'https://vissaigroup.vn/vi/trang-chu/'

# Verifying result
company_df[company_df.website.isna()]

Empty DataFrame
Columns: [ticker, exchange, industry, company_type, no_shareholders, foreign_percent, outstanding_share, issue_share, established_year, no_employees, stock_rating, delta_in_week, delta_in_month, delta_in_year, short_name, website]
Index: []

In [198]:
# Locating records with NA established year
company_df[company_df.established_year.isna()]

,ticker,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website
1586,XDC,OTC,X√¢y d·ª±ng v√† V·∫≠t li·ªáu,CT,0,0.0,9.0,0.0,NaN,110,1.4,NaN,NaN,NaN,X√¢y d·ª±ng C√¥ng tr√¨nh T√¢n C·∫£ng,https://saigonnewport.com.vn

In [199]:
# Replacing NA values with correct data
company_df.iloc[1586,8] = 1986

In [200]:
# Verifying result
company_df[company_df.established_year.isna()]

Empty DataFrame
Columns: [ticker, exchange, industry, company_type, no_shareholders, foreign_percent, outstanding_share, issue_share, established_year, no_employees, stock_rating, delta_in_week, delta_in_month, delta_in_year, short_name, website]
Index: []

In [ ]:
# Extracting no_shareholders column
no_shareholders = company_df[['ticker','no_shareholders']]
no_shareholders.to_csv('no_shareholders.csv', index=False)

In [201]:
# Exporting company data to csv file
company_df.to_csv('dim_company.csv',index=False)

Fetching trade history data

In [12]:
# Exploring VCB trade_history data
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='VNINDEX', source='TCBS')
stock = stock.quote.history(start='2014-01-01', end='2025-03-31')

2025-04-14 18:35:05 - vnstock3.common.data.data_explorer - WARNING - Ngu·ªìn TCBS hi·ªán t·∫°i ch·ªâ h·ªó tr·ª£ c√°c th√¥ng tin v·ªÅ gi√° v√† giao d·ªãch, kh√¥ng h·ªó tr·ª£ th√¥ng tin c√¥ng ty.

           time     open     high      low    close     volume
0    2014-03-26   603.59   603.68   587.52   588.06  246459570
1    2014-03-27   588.33   591.70   582.81   590.14  146465260
2    2014-03-28   592.68   595.70   590.59   594.29  116220650
3    2014-03-31   594.29   597.22   591.57   591.57  117084100
4    2014-04-01   590.93   593.03   582.30   583.85  167165310
...         ...      ...      ...      ...      ...        ...
2986 2025-03-25  1335.29  1337.60  1329.81  1331.92  772470386
2987 2025-03-26  1333.33  1338.55  1323.69  1326.09  672071249
2988 2025-03-27  1325.98  1328.82  1323.01  1323.81  522142993
2989 2025-03-28  1324.42  1325.34  1315.72  1317.46  601970197
2990 2025-03-31  1313.51  1314.09  1304.10  1306.86  706353460

[2991 rows x 6 columns]

In [13]:
stock.to_csv('data/VNINDEX.csv')

In [6]:
# Defining a function to fetch all trade history
from vnstock3 import Vnstock
import glob
import os
import time
def get_next_file_index(folder):
    """Finds the next available file index based on existing trade_historyX.csv files."""
    existing_files = glob.glob(os.path.join(folder, "trade_history*.csv"))
    existing_numbers = [int(f.split("trade_history")[-1].split(".csv")[0]) for f in existing_files if f.split("trade_history")[-1].split(".csv")[0].isdigit()]

    return max(existing_numbers, default=-1) + 1  # Start from 0 if no files exist

def fetching_trade_history():
    folder = "scheduled_pipeline"
    os.makedirs(folder, exist_ok=True)  # Ensure folder exists

    start_index = get_next_file_index(folder)  # Get the last processed index + 1

    # Initializing stock object then fetch data into a DataFrame
    stock = Vnstock().stock(symbol='ACB', source='TCBS')
    stock = stock.quote.history(start='2025-03-25', end='2025-03-25')
    
    # Adding a ticker column
    stock.insert(0,'ticker','VCI')
    
    # Empty a DataFrame
    # trade_history = stock.drop(stock.index)

    for i in range(0,10):
        # time.sleep(1)
        try:
            print(i)
            # Initializing stock object then fetch trade history data into a DataFrame
            stock = Vnstock().stock(symbol='VNI', source='TCBS')
            stock = stock.quote.history(start='2025-03-25', end='2025-03-31')
            stock = stock[stock.time >= '2025-03-25']
            # Adding a ticker column
            stock.insert(0,'ticker',tickers[i])
            stock.to_csv(f'scheduled_pipeline/trade_history{i}.csv',index=False)
        except:
            print("Missing data on ticker:","VNI")
            continue

    print("Fetching complete!")

In [7]:
fetching_trade_history()

0
Missing data on ticker: VNI
1
Missing data on ticker: VNI
2
Missing data on ticker: VNI
3
Missing data on ticker: VNI
4
Missing data on ticker: VNI
5
Missing data on ticker: VNI
6
Missing data on ticker: VNI
7
Missing data on ticker: VNI
8
Missing data on ticker: VNI
9
Missing data on ticker: VNI
Fetching complete!

In [9]:
# Defining a function to fetch all trade history
from vnstock import Vnstock
import time
def fetching_trade_history(tickers):
    # Initializing stock object then fetch data into a DataFrame
    # stock = Vnstock().stock(symbol='ACB', source='TCBS')
    # stock = stock.quote.history(start='2024-12-31', end='2025-03-24')
    # 
    # # Adding a ticker column
    # stock.insert(0,'ticker','VCI')
    # 
    # # Empty a DataFrame
    # trade_history = stock.drop(stock.index)
    
    for i in range(1598):
        try:
            print(i)
            # Initializing stock object then fetch trade history data into a DataFrame
            stock = Vnstock().stock(symbol=tickers[2], source='VCI')
            stock = stock.quote.history(start='2025-03-25', end='2025-03-31')
            stock = stock[stock.time >= '2025-03-25']
            # Adding a ticker column
            stock.insert(0,'ticker',tickers[i])
            stock.to_csv(f'scheduled_pipeline/trade_history{i}.csv',index=False)
            # Appending new trade history data
            # trade_history = pd.concat([trade_history,stock])
        except KeyError:
            print("Missing data on ticker:",tickers[i])
            continue
        
    # Exporting data to CSV file
    # Modifying the file name after finished fetching 400 records
    # trade_history.to_csv('2025_trade_history400.csv',index=False)

In [25]:
# Fetching trade history data
fetching_trade_history(tickers)

0
1
2
3
4
5
6
7
8
9
Fetching complete!

In [ ]:
missing_tickers = []
trade_history = pd.read_csv('2025_trade_history/trade_history0.csv')
trade_history = trade_history.drop(trade_history.index)
for i in range (1598):
    try:
        print(i)
        df = pd.read_csv(f'2025_trade_history/trade_history{i}.csv')
        trade_history = pd.concat([trade_history,df],ignore_index=True)
    except:
        missing_tickers.append(i)
        continue
trade_history.to_csv('trade_history_2025.csv',index=False)

In [86]:
df = pd.read_csv(f'2025_trade_history/trade_history_2025.csv')
df2 = pd.read_csv('2024_trade_history/updated_fact_trade_history.csv')
df2 = df2[(df2.time > '2024-09-30') & (df2.time < '2025-01-01')]
df2

       ticker        time   open   high    low  close    volume
184       A32  2024-10-01  32.45  32.45  32.45  32.45         1
185       A32  2024-10-02  32.45  32.45  32.45  32.45         1
186       A32  2024-10-03  32.45  32.45  32.45  32.45         0
187       A32  2024-10-04  32.45  32.45  32.45  32.45         1
188       A32  2024-10-07  33.13  33.13  33.13  33.13       300
...       ...         ...    ...    ...    ...    ...       ...
398138    YEG  2024-12-25  20.26  21.18  20.26  21.18   2428716
398139    YEG  2024-12-26  22.59  22.64  19.71  19.71   6636173
398140    YEG  2024-12-27  18.34  18.34  18.34  18.34    452948
398141    YEG  2024-12-30  17.07  19.08  17.07  18.25  13148825
398142    YEG  2024-12-31  17.48  18.12  16.98  16.98   3414261

[103082 rows x 7 columns]

In [87]:
df

      ticker        time  open  high   low  close  volume
0        A32  2025-01-02  38.2  38.2  38.2   38.2       1
1        A32  2025-01-03  35.6  35.6  35.0   35.0     600
2        A32  2025-01-06  35.2  35.2  35.2   35.2       0
3        A32  2025-01-07  35.2  35.2  35.2   35.2       0
4        A32  2025-01-08  35.2  35.2  35.2   35.2       1
...      ...         ...   ...   ...   ...    ...     ...
82684    YTC  2025-03-18  36.4  36.4  36.4   36.4      20
82685    YTC  2025-03-19  36.7  36.7  36.7   36.7     106
82686    YTC  2025-03-20  38.4  38.4  38.4   38.4     120
82687    YTC  2025-03-21  38.0  38.0  38.0   38.0     100
82688    YTC  2025-03-24  32.6  33.6  32.6   33.6     204

[82689 rows x 7 columns]

In [92]:
final_df = pd.concat([df,df2],ignore_index=True)
final_df.sort_values(['ticker','time'],ascending=True,inplace=True)
final_df.to_csv('updated_trade_history.csv',index=False)

In [97]:
fact_trade_history = pd.read_csv('fact_trade_history.csv')
new_df = pd.concat([fact_trade_history,final_df],ignore_index=True)
new_df.sort_values(['ticker','time'],ascending=True,inplace=True)

In [98]:
new_df[new_df.ticker == 'VCB']

        ticker        time   open   high    low  close   volume
3024998    VCB  2014-01-02   9.94   9.94   9.83   9.86   333900
3024999    VCB  2014-01-03   9.86  10.09   9.86  10.05   813360
3025000    VCB  2014-01-06  10.09  10.12   9.98  10.01   375890
3025001    VCB  2014-01-07  10.16  10.31  10.12  10.23  2372530
3025002    VCB  2014-01-08  10.27  10.38  10.20  10.38  1474370
...        ...         ...    ...    ...    ...    ...      ...
3563589    VCB  2025-03-18  67.80  67.80  66.80  66.80  3663486
3563590    VCB  2025-03-19  67.20  67.20  66.50  66.50  3679899
3563591    VCB  2025-03-20  66.50  67.00  66.20  66.80  1693378
3563592    VCB  2025-03-21  67.00  67.00  66.00  66.00  1707373
3563593    VCB  2025-03-24  66.30  66.50  65.50  66.50  1983215

[2799 rows x 7 columns]

In [101]:
new_df.to_csv('final_trade_history.csv',index=False)

In [116]:
# Concatenating trade history
raw_trade_history400 = pd.read_csv('raw_trade_history400.csv')
raw_trade_history800 = pd.read_csv('raw_trade_history800.csv')
raw_trade_history1200 = pd.read_csv('raw_trade_history1200.csv')
raw_trade_history1598 = pd.read_csv('raw_trade_history1598.csv')
trade_history = pd.concat([raw_trade_history400,raw_trade_history800, raw_trade_history1200, raw_trade_history1598],ignore_index=True)

In [221]:
# Concatenating trade history
raw_trade_history200 = pd.read_csv('2024_trade_history/trade_history200.csv')
raw_trade_history400 = pd.read_csv('2024_trade_history/trade_history400.csv')
raw_trade_history600 = pd.read_csv('2024_trade_history/trade_history600.csv')
raw_trade_history800 = pd.read_csv('2024_trade_history/trade_history800.csv')
raw_trade_history1000 = pd.read_csv('2024_trade_history/trade_history1000.csv')
raw_trade_history1200 = pd.read_csv('2024_trade_history/trade_history1200.csv')
raw_trade_history1400 = pd.read_csv('2024_trade_history/trade_history1400.csv')
raw_trade_history1597 = pd.read_csv('2024_trade_history/trade_history1597.csv')
trade_history = pd.concat([raw_trade_history200,raw_trade_history400,raw_trade_history600,raw_trade_history800, raw_trade_history1000,raw_trade_history1200, raw_trade_history1400,raw_trade_history1597],ignore_index=True)

# Gi·∫£ s·ª≠ df ƒë√£ ƒë∆∞·ª£c t·∫°o v√† c·ªôt 'date' ·ªü ƒë·ªãnh d·∫°ng datetime
trade_history["time"] = pd.to_datetime(trade_history["time"])  # ƒê·∫£m b·∫£o c·ªôt date l√† ki·ªÉu datetime

# L·ªçc b·ªè c√°c b·∫£n ghi c√≥ date <= 2024-09-30
trade_history = trade_history[trade_history["time"] > "2024-09-30"]

In [226]:
# Sampling data
trade_history

array(['A32', 'AAA', 'AAM', ..., 'YBC', 'YBM', 'YEG'],
      shape=(1565,), dtype=object)

In [224]:
# Checking if NA value exists
trade_history.isna().sum()

ticker    0
time      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [124]:
# Sampling NA records
trade_history[trade_history.close.isna()]

        ticker        time  open  high  low  close  volume
2229034    QPH  2014-07-11  5.55   NaN  NaN    NaN       0
2328127    SCC  2014-08-06  5.00   NaN  NaN    NaN       0
2528078    SNC  2014-11-11  4.52   NaN  NaN    NaN       0
3053938    VCX  2014-04-01  4.00   NaN  NaN    NaN       0

In [126]:
# Dropping records with NA value
trade_history.dropna(subset=['high'],inplace=True)

In [128]:
# Verifying DataFrame after being cleaned
trade_history.isna().any()

ticker    False
time      False
open      False
high      False
low       False
close     False
volume    False
dtype: bool

In [225]:
# Exporting trade history data to CSV file
trade_history.to_csv('fact_trade_history.csv',index=False)

Fetching finance ratio data

In [9]:
# Initializing stock object
from vnstock3 import Vnstock
stock = Vnstock().stock(symbol='VCI', source='VCI')

# Fetching finance ratio of VCI
finance_ratio = pd.DataFrame(stock.finance.ratio(period='year', lang='en'))
finance_ratio

2025-03-25 14:45:32 - vnstock3.common.data.data_explorer - WARNING - Th√¥ng tin ni√™m y·∫øt & giao d·ªãch s·∫Ω ƒë∆∞·ª£c truy xu·∫•t t·ª´ TCBS

     Meta                         Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën              \
   ticker yearReport lengthReport (ST+LT borrowings)/Equity Debt/Equity
0     VCI       2024            5                  0.971382    1.054349
1     VCI       2023            5                  1.218152    1.340876
2     VCI       2022            5                  0.973942    1.192721
3     VCI       2021            5                  0.972610    1.543047
4     VCI       2020            5                  0.596293    0.853905
5     VCI       2019            5                  0.358125    0.787676
6     VCI       2018            5                  0.270345    0.786999
7     VCI       2017            5                  0.475082    1.120296
8     VCI       2016            5                  0.491563    1.436668
9     VCI       2015            5                  0.550475    1.532230
10    VCI       2014            5                  0.364664    2.686542
11    VCI       2013            5                  1.191585    2.918571
12    VCI       2011            5                  3.426721    4.235392

                                                         \
   Fixed Asset-To-Equity Owners' Equity/Charter Capital
0               0.002879                       1.802578
1               0.003178                       1.026491
2               0.003617                       0.904536
3               0.002011                       0.910997
4               0.003181                       0.629646
5               0.002445                       0.564212
6               0.005003                       0.507308
7               0.008388                       0.420470
8               0.007434                       0.177769
9               0.015316                       0.135468
10              0.022791                       0.112364
11              0.020265                       0.075776
12              0.016485                       0.064307

   Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông                                              \
                Asset Turnover Fixed Asset Turnover Days Sales Outstanding
0                     0.168564           121.775022               0.000000
1                     0.156992           105.385605               0.000000
2                     0.204426           172.225781               0.000000
3                     0.296344           269.213152               0.000000
4                     0.221383           142.402909               0.000000
5                     0.224089           109.544483               0.000000
6                     0.282137            83.645260               0.000000
7                     0.323097            88.278011               0.000000
8                     0.320657            73.282490               0.000000
9                     0.267767            41.241080              21.294522
10                    0.251576            40.964295              31.374424
11                    0.180038            30.100257             149.353356
12                    0.221780            45.438230             328.174272

    ... Ch·ªâ ti√™u thanh kho·∫£n Ch·ªâ ti√™u ƒë·ªãnh gi√°                           \
    ...   Financial Leverage               P/B Market Capital (Bn. VND)
0   ...             2.054349          2.188532           28329024486000
1   ...             2.340876          1.970499           14525000000000
2   ...             2.192721          2.866248           18617620767750
3   ...             2.543047          1.183493            7742250000000
4   ...             1.853905          2.666309           12055680000000
5   ...             1.787676          2.418360            9798240000000
6   ...             1.786999          2.666718            9714793444000
7   ...             2.120296          2.368686            7152000000000
8   ...             2.436668          5.128414            6150720000000
9   ...             2.532230          3.318337            2980000000000
10  ...             3.433360          4.077489            2980000000000
11  ...             3.918571          4.363627            2374464000000
12  ...             5.235392          4.878577            2252880000000

                                                                     \
   Outstanding Share (Mil. Shares)        P/E       P/S P/Cash Flow
0                        718099480  31.107137  7.665764   -8.371340
1                        437500000  29.528080  5.874715   -3.334822
2                        435499901  21.424727  5.898666    4.975461
3                        333000000   5.165914  2.088510   -2.064593
4                        165600000  15.678875  6.970247  -21.093469
5                        164400000  14.135191  6.358594  -28.722550
6                        162999890  11.639758  5.333463   12.398987
7                        120000000  10.917481  4.654003   -3.614195
8                        103200000  18.357534  6.882671  -46.597333
9                         50000000  12.563335  4.252882   -7.172009
10                        50000000  20.513135  4.832263    4.521565
11                        39840000  32.901021  5.944203   28.472663
12                        37800000  90.235922  4.857922  -22.732493


      EPS (VND)    BVPS (VND)  EV/EBITDA
0   1268.197706  18025.783068  19.607218
1   1124.353507  16848.524590  17.525975
2   1995.357941  14914.970490  12.729467
3   4500.655782  19645.234971   5.895364
4   4643.190154  27303.662559  12.313747
5   4216.426869  24644.804444  10.220559
6   5120.381537  22349.571713   7.529021
7   5459.134708  25161.626644   8.311031
8   3246.623509  11621.527734  11.306346
9   4743.963391  17960.802319   8.174017
10  2905.455386  14616.838928  14.166357
11  1811.493953  13658.362879  28.466190
12   660.490840  12216.677603  79.644405

[13 rows x 37 columns]

In [80]:
# Exploring finance ratio data
finance_ratio

    Meta                         Ch·ªâ ti√™u ƒë·ªãnh gi√°                           \
  ticker yearReport lengthReport               P/B Market Capital (Bn. VND)
0    A32       2024            5          1.106847             244800000000
1    A32       2023            5          1.169938             259760000000
2    A32       2022            5          0.947076             204000000000
3    A32       2021            5          0.862650             205360000000
4    A32       2020            5          0.875607             212092000000
5    A32       2019            5          1.082570             242080000000
6    A32       2018            5          1.205418             242080000000
7    A32       2017            5          1.373114             242080000000
8    A32       2016            5          1.486590             242080000000

                                                                     \
  Outstanding Share (Mil. Shares)         P/E       P/S P/Cash Flow
0                         6800000    6.233906  0.336700    3.846928
1                         6800000   10.762561  0.361020   22.693023
2                         6800000    8.344011  0.283617  -12.944773
3                         6800000  113.682680  0.315866    3.069350
4                         6800000    5.036974  0.291103   49.557092
5                         6800000    6.063263  0.350087   21.595336
6                         6800000    5.617242  0.374624    4.633994
7                         6800000    6.830117  0.395671  -36.242495
8                         6800000    6.637173  0.384706   -7.739273

                ... Ch·ªâ ti√™u hi·ªáu qu·∫£ ho·∫°t ƒë·ªông                         \
     EPS (VND)  ...        Fixed Asset Turnover Days Sales Outstanding
0  5774.870518  ...                    6.448130              57.241534
1  5827.821410  ...                    6.220120              67.538130
2  5392.166683  ...                    6.189906              56.933625
3  5089.596580  ...                    5.559382              54.803117
4  6192.209878  ...                    5.969010              37.561867
5  6906.002970  ...                    5.617425              35.534682
6  6337.629972  ...                    5.595167              51.093515
7  5212.209121  ...                    5.609375              47.138939
8  5363.729803  ...                    5.779936              40.247400

                                                                   \
  Days Inventory Outstanding Days Payable Outstanding  Cash Cycle
0                  87.791443                64.958398  209.991374
1                  98.511023                65.259852  231.309006
2                 110.559961                66.893802  234.387388
3                 124.899598                63.953419  243.656133
4                 109.037762                43.175503  189.775132
5                 107.964048                45.390026  188.888756
6                  95.099404                45.995583  192.188502
7                  86.640135                41.372647  175.151721
8                  81.025382                42.344381  163.617163

                     Ch·ªâ ti√™u c∆° c·∫•u ngu·ªìn v·ªën              \
  Inventory Turnover (ST+LT borrowings)/Equity Debt/Equity
0           4.157581                  0.000000    1.242533
1           3.705169                  0.000000    1.276483
2           3.301376                  0.000000    1.541564
3           2.922347                  0.000000    1.215452
4           3.347464                  0.002282    1.015943
5           3.380755                  0.047867    0.945016
6           3.838089                  0.024196    1.334729
7           4.212828                  0.765012    1.841973
8           4.504761                  0.642335    1.845773


  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.507856                       3.252100
1              0.509857                       3.265061
2              0.548519                       3.167643
3              0.479281                       3.505665
4              0.493932                       3.562014
5              0.556688                       3.288423
6              0.606093                       2.953114
7              0.619869                       2.592402
8              0.666269                       2.402969

[9 rows x 36 columns]

In [57]:
# Exploring columns of DataFrame
finance_ratio.columns.values

array(['price_to_earning', 'price_to_book', 'dividend', 'roe', 'roa',
       'earning_per_share', 'book_value_per_share', 'interest_margin',
       'non_interest_on_toi', 'bad_debt_percentage',
       'provision_on_bad_debt', 'cost_of_financing',
       'equity_on_total_asset', 'equity_on_loan', 'cost_to_income',
       'equity_on_liability', 'eps_change', 'asset_on_equity',
       'pre_provision_on_toi', 'post_tax_on_toi', 'loan_on_earn_asset',
       'loan_on_asset', 'loan_on_deposit', 'deposit_on_earn_asset',
       'bad_debt_on_asset', 'liquidity_on_liability', 'payable_on_equity',
       'cancel_debt', 'book_value_per_share_change', 'credit_growth'],
      dtype=object)

In [83]:
# Extracting inner_level index
cols = finance_ratio.columns.get_level_values(1)
cols = cols.values.tolist()
cols

['ticker',
 'yearReport',
 'lengthReport',
 'P/B',
 'Market Capital (Bn. VND)',
 'Outstanding Share (Mil. Shares)',
 'P/E',
 'P/S',
 'P/Cash Flow',
 'EPS (VND)',
 'BVPS (VND)',
 'EV/EBITDA',
 'Gross Profit Margin (%)',
 'Net Profit Margin (%)',
 'ROE (%)',
 'ROIC (%)',
 'ROA (%)',
 'Bi√™n EBIT (%)',
 'EBITDA (Bn. VND)',
 'EBIT (Bn. VND)',
 'Dividend yield (%)',
 'Current Ratio',
 'Cash Ratio',
 'Quick Ratio',
 'Financial Leverage',
 'Asset Turnover',
 'Fixed Asset Turnover',
 'Days Sales Outstanding',
 'Days Inventory Outstanding',
 'Days Payable Outstanding',
 'Cash Cycle',
 'Inventory Turnover',
 '(ST+LT borrowings)/Equity',
 'Debt/Equity',
 'Fixed Asset-To-Equity',
 "Owners' Equity/Charter Capital"]

In [1]:
# Keeping necessary columns
cols = ['ticker',
    'yearReport',
    'Market Capital (Bn. VND)',
    'P/E',
    'P/B',
    'EPS (VND)',
    'BVPS (VND)',
    'ROE (%)',
    'ROA (%)',
    'Net Profit Margin (%)']

In [32]:
import time
from vnstock import Vnstock
def get_finance_ratio(tickers):
    # Initializing stock object then fetch data into a DataFrame
    stock = Vnstock().stock(symbol='VCI', source='VCI')
    stock = pd.DataFrame(stock.finance.ratio(period='year', lang='en', dropna=True))
    
    # Extracting inner_level columns
    stock.columns = stock.columns.get_level_values(1)
    
    # Extracting necessary columns
    stock = stock[cols]
    finance_ratio = stock.drop(stock.index)
    
    for i in missing_tickers:
        # Handling exception when there are no records for a specific company
        try:
            time.sleep(3)
            # Initializing stock object then fetch data into a DataFrame
            stock = Vnstock().stock(symbol=tickers[i], source='VCI')
            stock = pd.DataFrame(stock.finance.ratio(period='year', lang='en', dropna=True))
            
            # Extracting inner_level columns then assign to DataFrame
            stock.columns = stock.columns.get_level_values(1)
            stock[cols].to_csv(f'finance_ratio/finance_ratio{i}.csv',index=False)
            print(i)
        except KeyError:
            print(f'----------Missing {tickers[i]}"s finance_ratio---------')
            continue
        
        # Handling exception when there is a record doesn't have enough columns
        try:
            # Appending data to finance_ratio
            # finance_ratio = pd.concat([finance_ratio,stock[cols]],ignore_index=True)
            # print(i)
            pass
            
        except KeyError:
            print(f'----------{tickers[i]}---------')
    # Exporting data to CSV file
    # Modifying the file name after finished fetching 400 records
    # finance_ratio.to_csv('finance_ratio100.csv',index=False)

In [ ]:
get_finance_ratio(tickers)

In [31]:
missing_tickers

[53,
 96,
 176,
 184,
 221,
 313,
 338,
 429,
 469,
 506,
 539,
 655,
 721,
 766,
 869,
 1001,
 1016,
 1049,
 1080,
 1113,
 1124,
 1222,
 1493,
 1532,
 1545,
 1585]

In [34]:
from vnstock3 import Vnstock
finance_ratio = pd.read_csv('finance_ratio/finance_ratio0.csv')
finance_ratio = finance_ratio.drop(finance_ratio.index)
for i in range (1598):
    try:
        print(i)
        df = pd.read_csv(f'finance_ratio/finance_ratio{i}.csv')
        finance_ratio = pd.concat([finance_ratio,df],ignore_index=True)
    except:
        continue
finance_ratio.to_csv('finance_ratio.csv',index=False)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285
1286
1287
1288
1289
1290
1291
1292
1293
1294
1295
1296
1297
1298
1299
1300
1301
1302
1303
1304
1305
1306
1307
1308
1309
1310
1311
1312
1313
1314
1315
1316
1317
1318
1319
1320
1321
1322
1323
1324
1325
1326
1327
1328
1329
1330
1331
1332
1333
1334
1335
1336
1337
1338
1339
1340
1341
1342
1343
1344
1345
1346
1347
1348
1349
1350
1351
1352
1353
1354
1355
1356
1357
1358
1359
1360
1361
1362
1363
1364
1365
1366
1367
1368
1369
1370
1371
1372
1373
1374
1375
1376
1377
1378
1379
1380
1381
1382
1383
1384
1385
1386
1387
1388
1389
1390
1391
1392
1393
1394
1395
1396
1397
1398
1399
1400
1401
1402
1403
1404
1405
1406
1407
1408
1409
1410
1411
1412
1413
1414
1415
1416
1417
1418
1419
1420
1421
1422
1423
1424
1425
1426
1427
1428
1429
1430
1431
1432
1433
1434
1435
1436
1437
1438
1439
1440
1441
1442
1443
1444
1445
1446
1447
1448
1449
1450
1451
1452
1453
1454
1455
1456
1457
1458
1459
1460
1461
1462
1463
1464
1465
1466
1467
1468
1469
1470
1471
1472
1473
1474
1475
1476
1477
1478
1479
1480
1481
1482
1483
1484
1485
1486
1487
1488
1489
1490
1491
1492
1493
1494
1495
1496
1497
1498
1499
1500
1501
1502
1503
1504
1505
1506
1507
1508
1509
1510
1511
1512
1513
1514
1515
1516
1517
1518
1519
1520
1521
1522
1523
1524
1525
1526
1527
1528
1529
1530
1531
1532
1533
1534
1535
1536
1537
1538
1539
1540
1541
1542
1543
1544
1545
1546
1547
1548
1549
1550
1551
1552
1553
1554
1555
1556
1557
1558
1559
1560
1561
1562
1563
1564
1565
1566
1567
1568
1569
1570
1571
1572
1573
1574
1575
1576
1577
1578
1579
1580
1581
1582
1583
1584
1585
1586
1587
1588
1589
1590
1591
1592
1593
1594
1595
1596
1597

In [35]:
fr = pd.read_csv('finance_ratio.csv')
fr

,ticker,yearReport,Market Capital (Bn. VND),P/E,P/B,EPS (VND),BVPS (VND),ROE (%),ROA (%),Net Profit Margin (%)
0,A32,2024,2.448000e+11,6.233906,1.106847,5774.870518,32524.822640,0.177220,0.078432,0.054011
1,A32,2023,2.597600e+11,10.762561,1.169938,5827.821410,32651.302944,0.181194,0.075277,0.055078
2,A32,2022,2.040000e+11,8.344011,0.947076,5392.166683,31676.431549,0.161604,0.068180,0.050977
3,A32,2021,2.053600e+11,113.682680,0.862650,5089.596580,35008.410342,0.144025,0.068100,0.053233
4,A32,2020,2.120920e+11,5.036974,0.875607,6192.209878,35621.007735,0.180783,0.091217,0.057793
...,...,...,...,...,...,...,...,...,...,...
17280,YTC,2017,1.875720e+11,14.280625,3.523307,4264.519239,17284.895116,0.232733,0.018540,0.026539
17281,YTC,2016,1.705200e+11,13.745783,2.859331,4430.449586,21298.686865,0.212997,0.019792,0.023190
17282,YTC,2015,1.705200e+11,14.450364,2.999650,4214.426700,20302.368504,0.222201,0.018458,0.023117
17283,YTC,2014,1.705200e+11,15.192530,3.454141,4008.548984,17631.009971,0.231898,0.017116,0.025080
17284,YTC,2013,1.705200e+11,16.171334,3.594892,3765.923129,16940.701752,0.233977,0.018046,0.022532

In [36]:
# Extracting finance ratio of companies since 2014
fr = fr[fr.yearReport >= 2014]

In [37]:
fr.to_csv('fact_finance_ratio.csv',index=False)

In [167]:
# Concatenating finance ratio data
raw_finance_ratio500 = pd.read_csv('raw_finance_ratio500.csv')
raw_finance_ratio1000 = pd.read_csv('raw_finance_ratio1000.csv')
raw_finance_ratio1598 = pd.read_csv('raw_finance_ratio1598.csv')
finance_ratio = pd.concat([raw_finance_ratio500,raw_finance_ratio1000,raw_finance_ratio1598],ignore_index=True)

In [168]:
# Sampling finance ratio
finance_ratio

,ticker,yearReport,Market Capital (Bn. VND),P/E,P/B,EPS (VND),BVPS (VND),ROE (%),ROA (%),Net Profit Margin (%)
0,A32,2023,2.273920e+11,9.421467,1.024155,5827.821410,32651.302944,0.181194,0.075277,0.055078
1,A32,2022,2.040000e+11,8.344011,0.947076,5392.166683,31676.431549,0.161604,0.068180,0.050977
2,A32,2021,2.053600e+11,113.682680,0.862650,5089.596580,35008.410342,0.144025,0.068100,0.053233
3,A32,2020,2.120920e+11,5.036974,0.875607,6192.209878,35621.007735,0.180783,0.091217,0.057793
4,A32,2019,2.420800e+11,6.063263,1.082570,6906.002970,32884.698303,0.221292,0.103922,0.067913
...,...,...,...,...,...,...,...,...,...,...
15951,YTC,2017,1.875720e+11,14.280625,3.523307,4264.519239,17284.895116,0.232733,0.018540,0.026539
15952,YTC,2016,1.705200e+11,13.745783,2.859331,4430.449586,21298.686865,0.212997,0.019792,0.023190
15953,YTC,2015,1.705200e+11,14.450364,2.999650,4214.426700,20302.368504,0.222201,0.018458,0.023117
15954,YTC,2014,1.705200e+11,15.192530,3.454141,4008.548984,17631.009971,0.231898,0.017116,0.025080
15955,YTC,2013,1.705200e+11,16.171334,3.594892,3765.923129,16940.701752,0.233977,0.018046,0.022532

In [169]:
# Extracting finance ratio of companies since 2014
finance_ratio = finance_ratio[finance_ratio.yearReport >= 2014]

# Verifying result
finance_ratio.yearReport.min()

np.int64(2014)

In [30]:
# Checking if there are any NA values
finance_ratio.isna().sum()

ticker                      0
yearReport                  0
Market Capital (Bn. VND)    0
P/E                         0
P/B                         0
EPS (VND)                   0
BVPS (VND)                  0
ROE (%)                     0
ROA (%)                     0
Net Profit Margin (%)       0
dtype: int64

In [170]:
# Exporting finance_ratio to CSV file
finance_ratio.to_csv('fact_finance_ratio.csv',index=False)

dim_date

In [176]:
date_range = pd.date_range(start="2014-01-01", end="2026-01-01")
dim_date = pd.DataFrame({"date": date_range})
dim_date["year"] = dim_date["date"].dt.year
dim_date["month_id"] = dim_date["date"].dt.month
dim_date["quarter_id"] = dim_date["date"].dt.quarter
dim_date

           date  year  month_id  quarter_id
0    2014-01-01  2014         1           1
1    2014-01-02  2014         1           1
2    2014-01-03  2014         1           1
3    2014-01-04  2014         1           1
4    2014-01-05  2014         1           1
...         ...   ...       ...         ...
3921 2024-09-26  2024         9           3
3922 2024-09-27  2024         9           3
3923 2024-09-28  2024         9           3
3924 2024-09-29  2024         9           3
3925 2024-09-30  2024         9           3

[3926 rows x 4 columns]

In [ ]:
# Exporting dim_date to CSV file
dim_date.to_csv("dim_date.csv", index=False)

dim_quarter

In [175]:
dim_quarter = dim_date[['quarter_id']].drop_duplicates().sort_values('quarter_id').reset_index(drop=True)
dim_quarter['quarter_name_short'] = dim_quarter['quarter_id'].apply(lambda x: f'Q{x}')
dim_quarter['quarter_name_long'] = dim_quarter['quarter_id'].apply(lambda x: f'Quarter {x}')
dim_quarter['quarter_number'] = dim_quarter['quarter_id']
dim_quarter

   quarter_id quarter_name_short quarter_name_long  quarter_number
0           1                 Q1         Quarter 1               1
1           2                 Q2         Quarter 2               2
2           3                 Q3         Quarter 3               3
3           4                 Q4         Quarter 4               4

In [ ]:
# Exporting dim_quarter to CSV file
dim_quarter.to_csv("dim_quarter.csv", index=False)

dim_month

In [174]:
dim_month = dim_date[['month_id']].drop_duplicates().sort_values('month_id').reset_index(drop=True)
dim_month['month_name_short'] = dim_month['month_id'].apply(lambda x: pd.to_datetime(f'2021-{x}-01').strftime('%b'))
dim_month['month_name_long'] = dim_month['month_id'].apply(lambda x: pd.to_datetime(f'2021-{x}-01').strftime('%B'))
dim_month['month_number'] = dim_month['month_id']
dim_month

    month_id month_name_short month_name_long  month_number
0          1              Jan         January             1
1          2              Feb        February             2
2          3              Mar           March             3
3          4              Apr           April             4
4          5              May             May             5
5          6              Jun            June             6
6          7              Jul            July             7
7          8              Aug          August             8
8          9              Sep       September             9
9         10              Oct         October            10
10        11              Nov        November            11
11        12              Dec        December            12

In [ ]:
# Exporting dim_month to CSV file
dim_month.to_csv("dim_month.csv", index=False)